* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
    background: url(images/baseball_bat.jpeg) no-repeat center fixed; 
    background-size: cover;
  }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
  }
  
td, th {
  
  text-align: left;
  padding: 8px;
}

th {
  background-color: white;
  color: black;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #002D72;
  color: white;
}

tr:nth-child(odd) {
  background-color: #FF5910;
}

.diagram {
  width: 60%;
  max-width: 900px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  padding: 10px;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* Style the logo */
.logo {
  width: 30%;
  max-width: 450px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media (max-width: 520px) {
  .column.side, .column.middle {
    width: 100%;
  }
}*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Date/Time"; }
	td:nth-of-type(2):before { content: "Opponent"; }
	td:nth-of-type(3):before { content: "Home/Away"; }
	td:nth-of-type(4):before { content: "Won/Loss"; }
	td:nth-of-type(5):before { content: "Snacks"; }
	td:nth-of-type(6):before { content: "Concession"; }
}